<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Covid19</title>
    </head>
    <body>
        <div>
            <select name= states method="GET" action="/state">
                {% for statecode, state in covids %}
                <option value= "{{statecode}}" SELECTED>{{state}}</option>"
                {% endfor %}
            </select>
        </div>
        <table>
            <tr>
            {% for key,value in data %}
                <tr><td>{{key}}</td> <td>{{covid[key]}}</td></tr>
            {% endfor %}
            </tr>
        </table>
        <div>
            <head>covid results {heading}</head><body><table><tr><td>Select state </td></tr>{select}{innerHTMLS}</table></body>
        </div
    </select>
    </body>
</html>
